n8n-server/mappin-advanced-workflow.json
{
    "name": "Mappin AI Ingestion (Auto-Fallback)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ingest-ai",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook",
            "name": "Webhook POST /ingest-ai",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "body.reports",
                "options": {}
            },
            "id": "split-items",
            "name": "Split Reports",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 1,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-lite:generateContent?key=AIzaSyBUiLEbcDkEsAuHjzqF48S5QbeKfGxE8Fc",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contents",
                            "value": "={{ [ { \"parts\": [ { \"text\": \"Analyze this news for conflict data. JSON only. Fields: latitude(num), longitude(num), location_name(str), category(Armed Conflict|Protest|Political Unrest|Other), severity(1-5), summary(str). Input: Title: \" + $json.title + \" Desc: \" + $json.body } ] } ] }}"
                        }
                    ]
                },
                "options": {},
                "continueOnFail": true
            },
            "id": "gemini-1",
            "name": "Gemini (Primary)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.error !== undefined }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "check-error",
            "name": "Primary Failed?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyBxy1M6i_AqiDEezTYCWqRorthYTNwqwtA",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contents",
                            "value": "={{ [ { \"parts\": [ { \"text\": \"Analyze this news for conflict data. JSON only. Fields: latitude(num), longitude(num), location_name(str), category(Armed Conflict|Protest|Political Unrest|Other), severity(1-5), summary(str). Input: Title: \" + $('Split Reports').item.json.title + \" Desc: \" + $('Split Reports').item.json.body } ] } ] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "gemini-2",
            "name": "Gemini (Backup)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse Gemini JSON response from either Primary or Backup\ntry {\n  const rawText = $json.candidates[0].content.parts[0].text;\n  const cleanText = rawText.replace(/```json/g, '').replace(/```/g, '').trim();\n  const aiData = JSON.parse(cleanText);\n  \n  return {\n    json: {\n      ...aiData,\n      title: $('Split Reports').item.json.title,\n      description: $('Split Reports').item.json.body,\n      source_url: $('Split Reports').item.json.url,\n      published_at: $('Split Reports').item.json.date,\n      created_at: new Date().toISOString()\n    }\n  };\n} catch (e) {\n  return { json: { error: 'AI Parse Failed', raw: $json } };\n}"
            },
            "id": "parse-ai",
            "name": "Parse JSON",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://efvxuustmbfbkckkftxi.supabase.co/rest/v1/conflicts",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "title",
                            "value": "={{ $json.title }}"
                        },
                        {
                            "name": "description",
                            "value": "={{ $json.summary }} (Auto-Extracted)"
                        },
                        {
                            "name": "source_url",
                            "value": "={{ $json.source_url }}"
                        },
                        {
                            "name": "published_at",
                            "value": "={{ $json.published_at }}"
                        },
                        {
                            "name": "latitude",
                            "value": "={{ $json.latitude }}"
                        },
                        {
                            "name": "longitude",
                            "value": "={{ $json.longitude }}"
                        },
                        {
                            "name": "location_name",
                            "value": "={{ $json.location_name }}"
                        },
                        {
                            "name": "category",
                            "value": "={{ $json.category }}"
                        },
                        {
                            "name": "severity",
                            "value": "={{ $json.severity }}"
                        }
                    ]
                },
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVmdnh1dXN0bWJmYmtja2tmdHhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgyMjk0NTYsImV4cCI6MjA4MzgwNTQ1Nn0.R5HvrTa8ox6IiIeIiFk8KxD13SW4O8kRwgwVUj9IWpk"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVmdnh1dXN0bWJmYmtja2tmdHhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgyMjk0NTYsImV4cCI6MjA4MzgwNTQ1Nn0.R5HvrTa8ox6IiIeIiFk8KxD13SW4O8kRwgwVUj9IWpk"
                        },
                        {
                            "name": "Prefer",
                            "value": "resolution=merge-duplicates"
                        }
                    ]
                },
                "options": {}
            },
            "id": "supabase-insert",
            "name": "Supabase Insert",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1300,
                300
            ]
        }
    ],
    "connections": {
        "Webhook POST /ingest-ai": {
            "main": [
                [
                    {
                        "node": "Split Reports",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Reports": {
            "main": [
                [
                    {
                        "node": "Gemini (Primary)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini (Primary)": {
            "main": [
                [
                    {
                        "node": "Primary Failed?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Primary Failed?": {
            "main": [
                [
                    {
                        "node": "Gemini (Backup)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Parse JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini (Backup)": {
            "main": [
                [
                    {
                        "node": "Parse JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse JSON": {
            "main": [
                [
                    {
                        "node": "Supabase Insert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}